
<h4>Editing job</h4>



<form name="vm.jobForm" ng-submit="vm.updateJob()">
    <div class="card border-success mb-6" style="max-width: 60rem;">
        <div class="card-header">Editing job</div>
        <div class="card-body">
            <h4 class="card-title">Please fill the information</h4>
            <span ng-show="vm.myForm.name.$dirty && vm.jobForm.name.$invalid && vm.isSubmitted">
                Please vefiry the information
            </span>
            <div class="form-group">
                <label class="col-form-label col-form-label-sm mt-4" for="Title">Title</label>
                <input class="form-control form-control-sm" type="text" name="Title" placeholder="Title" required
                    ng-model="vm.job.title">
                <label class="col-form-label col-form-label-sm mt-4" for="Description">Description</label>
                <input class="form-control form-control-sm" type="text" name="Description" placeholder="Description"
                    required ng-model="vm.job.description">
                <label class="col-form-label col-form-label-sm mt-4" for="Salary">Salary</label>
                <input class="form-control form-control-sm" type="text" name="Salary" placeholder="Salary"
                    ng-model="vm.job.salary">
                <label class="col-form-label col-form-label-sm mt-4" for="experience">Years of experience</label>
                <input class="form-control form-control-sm" type="text" name="experience"
                    placeholder="Years of experience" ng-pattern="/^([01]?\d|20)$/" ng-model="vm.job.experience">
                <label class="col-form-label col-form-label-sm mt-4" for="skills">Skills</label>
                <button type="button" class="btn btn-outline-success" ng-click="vm.newSkill()">+</button><br />
                <!-- <job-skills></job-skills> -->
                <div ng-repeat="(key, skill) in vm.job.skills track by $index">
                    <input class="form-control form-control-sm" type="text" name="skill" placeholder="skill"
                        ng-model="vm.job.skills[key]" required>
                    <button type="button" class="btn btn-outline-success"
                        ng-click="vm.delSkill($index)">-</button><br />
                </div>

                <!-- <input class="form-control form-control-sm" type="text" name="skills"
                    placeholder='["Java","Javascript","AWS"]' required ng-model="vm.newJobSkills"> -->
                <br />
                <button type="submit" class="btn-success">Edit Job</button>
                <button class="btn-warning" ng-click="vm.reset()">Cancel</button><BR />
            </div>
        </div>

    </div>

</form>