<H1>Register</H1>
<DIV *ngIf="message" class="alert alert-success" role="alert">
    <P>{{ message}}</P>
</DIV>
<DIV *ngIf="err" class="alert alert-danger" role="alert">
    {{err}}
</DIV>
<form ng-hide="message" (submit)="register($event)">
    <DIV class="form-group">
        <label for="username">Username</label>
        <input type="username" class="form-control" id="username" name="username" placeholder="Username" [(ngModel)]="username"
            autocapitalize="none" />
    </DIV>
    <DIV class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="password"
            autocapitalize="none" />
    </DIV>
    <DIV class="form-group">
        <label for="password-repeat">Repeat Password</label>
        <input type="password" class="form-control" id="password-repeat" placeholder="Password"
            [(ngModel)]="passwordRepeat" name="passwordRepeat" autocapitalize="none" />
    </DIV>
    <BUTTON type="submit" class="btn btn-success">Register</BUTTON>
</form>
